# Q1 넘파이 모듈을 np 별칭으로 임포트해라

In [120]:
import numpy as np

Q2 다음과 같은 리스트를 이용하여 

 넘파이 배열을 만들고 

 전체 갯수, 차원, 데이터형, 구조를 출력하여라 

```
['강아지', '원숭이', '꽃', '45', '100']

array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
차원 ? 1
전체 갯수 ? 5
데이터형 ? <U3
전체 구조  ? (5,)


```

In [11]:
array1 = np.array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
print(array1)

['강아지' '원숭이' '꽃' '45' '100']

In [12]:
np.ndim(array1)

1

In [13]:
array1.shape

(5,)

In [14]:
array1.dtype

dtype('<U3')

# Q3 np.ones()를 이용하여 

# 2행 3열의 넘파이 배열을 생성하여라

```

array([[1., 1., 1.],
       [1., 1., 1.]])


```

In [62]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [17]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

# Q4. np.arange(), np.reshape()를 이용하여
# 다음과 같은 넘파이 배열을 생성하여라

```
array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])
       ```

In [25]:
array2 = np.arange(51,81).reshape((6,5))

In [26]:
array2

array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])

# Q5. Q4의 넘파이 배열의 자료형을 

# float로 변경하고 데이터형을 출력하여라 

```

array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])
       
-------------------------------------  
  
dtype('float64')
       
       ```

In [31]:
array2.flatten().astype('float64')

array([51., 52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63.,
       64., 65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76.,
       77., 78., 79., 80.])

# Q6. 다음과 같이 넘파이 배열을 생성한 후 
# 1차원 배열로 변경하고 슬라이싱하여라 

```
array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])
       
array([ 1,  4,  5,  6, 56, 23, 45, 67,  8,  4,  6, 10])


array([23, 45, 67,  8,  4,  6])
```

In [35]:
array2 = np.array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]]).flatten()

In [38]:
array2[5:-1]

array([23, 45, 67,  8,  4,  6])

# Q7. 다음과 같은 넘파이 배열을 생성한 후 
# 아이템을 교체하여라 

```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

```

In [64]:
array4 = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [65]:
array4[0] = 10

In [66]:
array4[-1] = 1

In [67]:
array4

array([10,  2,  3,  4,  5,  6,  7,  8,  9,  1])

# Q8. 2자리의 숫자로 구성된 넘파이 배열(5행5열)을 만들어라.

# 숫자는 난수를 이용한다. 

```
[[63 85 71 67 15]
 [31 81 69 17 97]
 [25 41 33 23 39]
 [39 43 59 33 43]
 [23 51 65 91 23]]

```

In [40]:
np.random.randint(1, 100, (5, 5) )

array([[67, 74, 95, 18, 89],
       [67, 19, 75, 87, 75],
       [65, 22, 42, 74, 91],
       [71, 12, 50, 79, 14],
       [43, 28, 47, 23, 24]])

# Q9. 1~100 사이의 정수중 7개의 숫자를 무작위로 추출한 후 가장 큰값과 가장 작은 값을 출력하여라. 

```
[91, 65, 14, 66, 65, 98, 34]

max = 98
min = 14
```

In [47]:
array5 = np.arange(1,100)

In [51]:
np.random.shuffle(array5)

In [54]:
array5 = array5[:7]

In [56]:
np.amin(array5)

6

In [55]:
np.amax(array5)

98

# Q10. 다음과 같은 3개의 넘파이 배열을 생성한 후 다음과 같이 합쳐라 


```
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]
 

[[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


[[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]
 
 ----------
  Result1 
  
 [[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
  [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
  [ 7,  8,  9, 17, 18, 19, 27, 28, 29]] 
  
  
  ----------
  Result2
   
 [[ 1,  2,  3],
  [ 4,  5,  6],
  [ 7,  8,  9],
  [11, 12, 13],
  [14, 15, 16],
  [17, 18, 19],
  [21, 22, 23],
  [24, 25, 26],
  [27, 28, 29]] 
```

In [69]:
array6 = np.array([[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]])


array7 = np.array([[11, 12, 13],
                  [14, 15, 16],
                  [17, 18, 19]])
array8 = np.array([[21, 22, 23], 
                   [24, 25, 26],
                   [27, 28, 29]])

In [70]:
np.concatenate((array6, array7, array8), axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [11, 12, 13],
       [14, 15, 16],
       [17, 18, 19],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [71]:
np.concatenate((array6, array7, array8), axis=1)

array([[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
       [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
       [ 7,  8,  9, 17, 18, 19, 27, 28, 29]])

# Q11. 아래와 같이 넘파이 배열을 생성한 후 

# 50보다 큰 숫자만 필터링하여라. 

```
arr = np.random.choice(100, 40, replace=False)

Before => 

[40, 63,  8,  2, 35, 84, 72, 48, 78, 86, 87, 58,  0, 49, 14, 55, 11,
       73, 39, 26, 75, 27, 99, 46, 25, 22, 34, 83, 24, 47, 31, 57, 62, 19,
       36, 15, 17, 10, 98, 90]


After =>

[63, 84, 72, 78, 86, 87, 58, 55, 73, 75, 99, 83, 57, 62, 98, 90]


```

In [72]:
arr = np.random.choice(100, 40, replace=False)

In [75]:
arr

array([53, 11, 52, 80, 95, 35, 48, 78, 63, 68, 15, 67, 43,  9, 66, 33, 85,
       96, 16, 64, 45, 81, 90, 37, 28, 19, 77, 42, 13, 47,  0, 49, 54, 36,
        5, 92, 87, 26, 83, 50])

In [77]:
arr[np.where(arr> 50)]

array([53, 52, 80, 95, 78, 63, 68, 67, 66, 85, 96, 64, 81, 90, 77, 54, 92,
       87, 83])

# Quiz 12

```

kor = np.array( [60,55,70,30,20,90])


1. 국어점수가 가장큰값을 구하여라
2. 국어점수가 80점이상인 값을 구하여라
3. 국어 점수가 50점이상 80점 이하인 값을 구하여라
4. 국어점수의 평균을 구하여라
5. 국어점수의 총합을 구하여라.
6. 국어점수가 40점이하인 데이터를 삭제하여라
7. 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
8. 국어점수 top 5를 구하여라
9. 국어점수가 70점이상이면 '합격' , 아니면 '불합격으로' 아래와 같이 출력하시요

60 '불합격'
55 '불합격'
```

In [78]:
kor = np.array( [60,55,70,30,20,90])
np.amax(kor)

90

In [81]:
kor[(kor > 50) & (kor < 80)]

array([60, 55, 70])

In [82]:
np.mean(kor)

54.166666666666664

In [83]:
np.sum(kor)

325

In [84]:
# 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
kor[kor > 50] *1.1

array([66. , 60.5, 77. , 99. ])

In [87]:
#국어점수 top 5를 구하여라
np.sort(kor)[::-1][:5]

array([90, 70, 60, 55, 30])

In [80]:
kor[np.where(kor>80)]

array([90])

In [90]:
np.where(kor>=70,"합격","불합격")

array(['불합격', '불합격', '합격', '불합격', '불합격', '합격'], dtype='<U3')

In [89]:
for a in kor:
    if a >70:
        print(a, "합격")
    else:
        print(a, "불합격")

60 불합격
55 불합격
70 불합격
30 불합격
20 불합격
90 합격

# Quiz 13

```
1) 아래 명령을 이용하여 ratings.dat 파일의 데이타를 넘파이 배열로 생성하여라

    np.loadtxt('data/ratings.dat', delimiter='::', dtype=np.int64)

    데이타형태는 다음과 같다. 
    ratings.dat => 무비렌즈의 영화평점데이타 
    (userId / movieId/rating/ timestamp)
     예) 1::1193::5:: 978300760

2) movieId 가 55인 데이타의 갯수는?

3) movieId 가 55인 데이타의 평균평점은? 

4) timestamp는 시계열데이타이다. timestamp 데이타를 이용하여 97년도 데이타만 추출한 후 
   총 데이타 갯수와 평균 평점을 구하여라
   
 ```

# Quiz 14

```
1) 'jeju2021.csv' 제주의 온도 데이타를 csv 파일로 저장한 후 
   np.loadtxt() 명령을 이용하여 필요한 컬럼과 데이터만 로딩하여라 
   
   '일시', '평균기온(℃)', '최고기온(℃)', '최저기온(℃)'
   
    data = np.loadtxt('data/jeju2021.csv', 
                        delimiter=',' , 
                        dtype=np.str ,
                       usecols=(2,3,5,8))
   
   

2) 1)의 넘파이 배열의 데이타 형태를 실수 형태로 변경하여라 
   데이타의 결측치나 이상값은 -99로 지정한다. 

[[20210101.0, 6.8, 18.2, -4.6],
 [20201201.0, 8.0, 16.3, -2.8],
 [20201101.0, 14.6, 26.7, 4.8],
 [20201001.0, 18.5, 25.8, 10.2],
 [20200901.0, 22.5, 32.5, 14.9],
 [20200801.0, 28.4, 36.3, 22.3],
 [20200701.0, 23.8, 34.3, 16.8],
 [20200601.0, 22.4, 30.9, 11.7],
 [20200501.0, 18.8, 29.5, 10.3],
 ...

3) 아래의 명령어를 이용하여 데이타값의 소숫점 처리를 3자리로 변경하여라 

np.set_printoptions(precision=3)
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

4) 제주도의 최고 기온은?

5) 2018년도 제주도 기온 데이타만 출력하여라. 

6) 최저 기온이 -5도 이하인 데이타만 출력하여라. 

7) 2018년도 기온 데이타에서 최고 기온이 28도 보다 높은 경우의 데이타만 출력하여라.
   
 ```

In [121]:
data = np.loadtxt('data/jeju2021.csv', 
                        delimiter=',' , 
                        dtype=np.str ,
                       usecols=(2,3,5,8))
data

<ipython-input-121-0687b9a90091>:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str ,

array([['2021-01-01', '6.8', '18.2', '-4.6'],
       ['2020-12-01', '8', '16.3', '-2.8'],
       ['2020-11-01', '14.6', '26.7', '4.8'],
       ...,
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', '']], dtype='<U10')

In [123]:
# 데이타가 없는 갯수는?
len(data[data[:, 0] == ''])

6

In [124]:
# data[:, 0] == ''
data[data[:, 0] == '']

array([['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', '']], dtype='<U10')

In [125]:
# 값이 없는 데이타 출력 
# data[:, 0] == ''
data[data[:, 0] == '']

array([['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', ''],
       ['', '', '', '']], dtype='<U10')

In [126]:
# 빈 리스트 생성 
result = []
for row in data:
    temp = []
    try:
        if row[0]:
            # '2021-01-01' => 20210101
            date = float(row[0].replace('-',''))
        else:
            date=-99
        temp.append(date) # [20210101.0, 6.8, 18.2, -4.6]
        # 각행의 2,3,4 값 처리 
        # 숫자.숫자 형태라면 실수형태로 변경해서 삽입 
        # 그외에는 -99 입력 
        for item in row[1:]:            
            try:
                temp.append(float(item)) 
            except:
                temp.append(-99)

    except:
        pass
    else:
        result.append(temp)

In [129]:
# 넘파이 배열화 
arr_jeju = np.array(result)
arr_jeju

array([[ 2.0210101e+07,  6.8000000e+00,  1.8200000e+01, -4.6000000e+00],
       [ 2.0201201e+07,  8.0000000e+00,  1.6300000e+01, -2.8000000e+00],
       [ 2.0201101e+07,  1.4600000e+01,  2.6700000e+01,  4.8000000e+00],
       ...,
       [-9.9000000e+01, -9.9000000e+01, -9.9000000e+01, -9.9000000e+01],
       [-9.9000000e+01, -9.9000000e+01, -9.9000000e+01, -9.9000000e+01],
       [-9.9000000e+01, -9.9000000e+01, -9.9000000e+01, -9.9000000e+01]])

In [130]:
# arr_jeju2 : 최고기온 에서 -99 가 없는 넘파이 배열 생성 
arr_jeju2 = arr_jeju[arr_jeju[:,2]!=-99]

In [131]:
arr_jeju2

array([[ 2.0210101e+07,  6.8000000e+00,  1.8200000e+01, -4.6000000e+00],
       [ 2.0201201e+07,  8.0000000e+00,  1.6300000e+01, -2.8000000e+00],
       [ 2.0201101e+07,  1.4600000e+01,  2.6700000e+01,  4.8000000e+00],
       ...,
       [ 1.9730301e+07,  9.6000000e+00,  2.2900000e+01, -2.0000000e+00],
       [ 1.9730201e+07,  7.6000000e+00,  1.9100000e+01,  4.3000000e+00],
       [ 1.9730101e+07,  7.5000000e+00,  1.9600000e+01, -1.6000000e+00]])

In [132]:
# 최고기온의 max
arr_jeju_max = np.max(arr_jeju2[:,2])
arr_jeju_max

37.4

In [133]:
# 최고기온 max의 날짜는?
arr_jeju2[arr_jeju2[:, 2]==arr_jeju_max]

array([[1.9980801e+07, 2.7900000e+01, 3.7400000e+01, 1.9100000e+01]])

In [134]:
arr_jeju2[arr_jeju2[:, 2]==arr_jeju_max][0,0]

19980801.0

In [135]:
arr_jeju_max_date = str(int(arr_jeju[arr_jeju[:, 2]==arr_jeju_max][0, 0]))
arr_jeju_max_date

'19980801'

In [136]:
arr_jeju_max_date2 = (arr_jeju_max_date[:4], arr_jeju_max_date[4:6], arr_jeju_max_date[-2:])

In [137]:
arr_jeju_max_date = str(int(arr_jeju[arr_jeju[:, 2]==arr_jeju_max][0, 0]))
arr_jeju_max_date

'19980801'

In [138]:
f'날짜 : {arr_jeju_max_date2[0]}년 {arr_jeju_max_date2[1]}월 {arr_jeju_max_date2[2]}일  기온 : {arr_jeju_max}'

'날짜 : 1998년 08월 01일  기온 : 37.4'

In [139]:
# 5) 2018년도 제주도 기온 데이타만 출력하여라

arr_jeju2018 = arr_jeju[(arr_jeju[:, 0] >= 20180000) & (arr_jeju[:, 0] < 20190000)]
arr_jeju2018

array([[ 2.0181201e+07,  9.3000000e+00,  2.2900000e+01, -1.0000000e+00],
       [ 2.0181101e+07,  1.4200000e+01,  2.1800000e+01,  3.8000000e+00],
       [ 2.0181001e+07,  1.7900000e+01,  2.7000000e+01,  7.9000000e+00],
       [ 2.0180901e+07,  2.3700000e+01,  3.1200000e+01,  2.1300000e+01],
       [ 2.0180801e+07,  2.8300000e+01,  3.5500000e+01,  2.2300000e+01],
       [ 2.0180701e+07,  2.7000000e+01,  3.5000000e+01,  1.9400000e+01],
       [ 2.0180601e+07,  2.2200000e+01,  3.2300000e+01,  1.3100000e+01],
       [ 2.0180501e+07,  1.8900000e+01,  3.1100000e+01,  6.7000000e+00],
       [ 2.0180401e+07,  1.5900000e+01,  2.6100000e+01,  5.0000000e-01],
       [ 2.0180301e+07,  1.1600000e+01,  2.3200000e+01,  1.7000000e+00],
       [ 2.0180201e+07,  5.9000000e+00,  1.7500000e+01, -3.8000000e+00],
       [ 2.0180101e+07,  5.4000000e+00,  1.6200000e+01, -3.7000000e+00]])

In [140]:
np.set_printoptions(precision=3)
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [141]:
# 6) 최저 기온이 -5도 이하인 데이타만 출력하여라.
arr_jeju2[(arr_jeju2[:, 3] <= -5) & (arr_jeju2[:, 3] > -99 )]

array([[20160101.000, 6.200, 17.500, -6.900],
       [20010201.000, 7.600, 22.600, -5.100],
       [19900101.000, 5.600, 18.600, -7.000],
       [19810201.000, 5.800, 16.200, -5.700],
       [19810101.000, 4.100, 15.000, -5.000],
       [19770201.000, 4.500, 17.500, -6.400]])

In [142]:
# 7) 2018년도 기온 데이타에서 최고 기온이 28도 보다 높은 경우의 데이타만 출력하여라.
arr_jeju2018[arr_jeju2018[:, 2] >= 28 ]

array([[20180901.000, 23.700, 31.200, 21.300],
       [20180801.000, 28.300, 35.500, 22.300],
       [20180701.000, 27.000, 35.000, 19.400],
       [20180601.000, 22.200, 32.300, 13.100],
       [20180501.000, 18.900, 31.100, 6.700]])

# Quiz 15

```
birthArr = np.loadtxt('data/births.txt',delimiter=',', dtype=np.int64)

1. 남아 ,여아 출생 평균을 구하여라
2. 남아출생이 가장많은 top5  를 구하여라(년도와 남아수)
3. 남아율(%) 을 구하고 각년도별  남아수가 차지하는비율을 데이터로  출력하여라 

년도    남아    여아    남아율
=================================
..
4. 2000년도 이후데이터 에 대해  출생량 을 구하고 
남아수가 1800000 이상이면 '많음'아니면 '적음' 이라고 출력하여라


	남아수 출생량
2000   1814601   '많음'
2001   1799049   '적음'


5.1800년대,1900년대,2000년대 각 남아,여야수 평균을 구하여라

```

In [91]:
birthArr = np.loadtxt('data/births.txt',delimiter=',', dtype=np.int64)

In [97]:
# 1. 남아 ,여아 출생 평균을 구하여라
print(np.mean(birthArr[:,1]))

1225776.0681818181

In [98]:
print(np.mean(birthArr[:,2]))

1245399.2121212122

In [ ]:
rating[rating[:,0] ==

In [111]:
# 2. 남아출생이 가장많은 top5  를 구하여라(년도와 남아수)
birthArr[np.argsort(birthArr[:,1])[-5:]][:,[0,1]][::-1]

array([[   1957, 2044160],
       [   1959, 2023044],
       [   1960, 2022093],
       [   1961, 2017316],
       [   1958, 2010884]], dtype=int64)

In [115]:
## 3번) 남아율(%) 을 구하고 각년도별  남아수가 차지하는비율을 데이터로  출력하여라 
manRate = (birthArr / birthArr.sum(axis=0))[:,1]
manRate = manRate.reshape(-1,1)
np.hstack((birthArr,manRate))

array([[1.88000000e+03, 9.09930000e+04, 1.10491000e+05, 5.62370997e-04],
       [1.88100000e+03, 9.19540000e+04, 1.00745000e+05, 5.68310338e-04],
       [1.88200000e+03, 1.07850000e+05, 1.13688000e+05, 6.66553603e-04],
       [1.88300000e+03, 1.12321000e+05, 1.04629000e+05, 6.94186066e-04],
       [1.88400000e+03, 1.29022000e+05, 1.14445000e+05, 7.97404534e-04],
       [1.88500000e+03, 1.33055000e+05, 1.07800000e+05, 8.22329992e-04],
       [1.88600000e+03, 1.44535000e+05, 1.10784000e+05, 8.93280714e-04],
       [1.88700000e+03, 1.45982000e+05, 1.01414000e+05, 9.02223719e-04],
       [1.88800000e+03, 1.78627000e+05, 1.20853000e+05, 1.10398211e-03],
       [1.88900000e+03, 1.78366000e+05, 1.10584000e+05, 1.10236903e-03],
       [1.89000000e+03, 1.90377000e+05, 1.11025000e+05, 1.17660153e-03],
       [1.89100000e+03, 1.85482000e+05, 1.01196000e+05, 1.14634859e-03],
       [1.89200000e+03, 2.12346000e+05, 1.22037000e+05, 1.31237822e-03],
       [1.89300000e+03, 2.12906000e+05, 1.12317000e+05, 1.31583923e-03],
       [1.89400000e+03, 2.22922000e+05, 1.15772000e+05, 1.37774188e-03],
       [1.89500000e+03, 2.33630000e+05, 1.17398000e+05, 1.44392136e-03],
       [1.89600000e+03, 2.37920000e+05, 1.19570000e+05, 1.47043517e-03],
       [1.89700000e+03, 2.34202000e+05, 1.12758000e+05, 1.44745653e-03],
       [1.89800000e+03, 2.58770000e+05, 1.22693000e+05, 1.59929602e-03],
       [1.89900000e+03, 2.33023000e+05, 1.06212000e+05, 1.44016987e-03],
       [1.90000000e+03, 2.99828000e+05, 1.50499000e+05, 1.85304992e-03],
       [1.90100000e+03, 2.39348000e+05, 1.06471000e+05, 1.47926075e-03],
       [1.90200000e+03, 2.64077000e+05, 1.22659000e+05, 1.63209528e-03],
       [1.90300000e+03, 2.61973000e+05, 1.19234000e+05, 1.61909177e-03],
       [1.90400000e+03, 2.75371000e+05, 1.28125000e+05, 1.70189645e-03],
       [1.90500000e+03, 2.91629000e+05, 1.32319000e+05, 1.80237701e-03],
       [1.90600000e+03, 2.95303000e+05, 1.33159000e+05, 1.82508371e-03],
       [1.90700000e+03, 3.18566000e+05, 1.46833000e+05, 1.96885781e-03],
       [1.90800000e+03, 3.34313000e+05, 1.54344000e+05, 2.06618020e-03],
       [1.90900000e+03, 3.47228000e+05, 1.63999000e+05, 2.14599976e-03],
       [1.91000000e+03, 3.96501000e+05, 1.94218000e+05, 2.45052545e-03],
       [1.91100000e+03, 4.18299000e+05, 2.25968000e+05, 2.58524530e-03],
       [1.91200000e+03, 5.58103000e+05, 4.29945000e+05, 3.44928665e-03],
       [1.91300000e+03, 6.24518000e+05, 5.12557000e+05, 3.85975636e-03],
       [1.91400000e+03, 7.61548000e+05, 6.54762000e+05, 4.70665334e-03],
       [1.91500000e+03, 9.83874000e+05, 8.48603000e+05, 6.08071172e-03],
       [1.91600000e+03, 1.04432300e+06, 8.90099000e+05, 6.45430930e-03],
       [1.91700000e+03, 1.08128000e+06, 9.25511000e+05, 6.68271748e-03],
       [1.91800000e+03, 1.15764700e+06, 1.01353700e+06, 7.15469429e-03],
       [1.91900000e+03, 1.13014500e+06, 9.80149000e+05, 6.98472157e-03],
       [1.92000000e+03, 1.19828300e+06, 1.06446300e+06, 7.40584006e-03],
       [1.92100000e+03, 1.23299900e+06, 1.10145700e+06, 7.62039801e-03],
       [1.92200000e+03, 1.20091900e+06, 1.08828700e+06, 7.42213154e-03],
       [1.92300000e+03, 1.20633000e+06, 1.09616800e+06, 7.45557355e-03],
       [1.92400000e+03, 1.24887600e+06, 1.13275100e+06, 7.71852385e-03],
       [1.92500000e+03, 1.21735200e+06, 1.11595800e+06, 7.52369366e-03],
       [1.92600000e+03, 1.18530400e+06, 1.11050500e+06, 7.32562496e-03],
       [1.92700000e+03, 1.19233000e+06, 1.12671700e+06, 7.36904828e-03],
       [1.92800000e+03, 1.15311700e+06, 1.10751800e+06, 7.12669718e-03],
       [1.92900000e+03, 1.11642200e+06, 1.07531300e+06, 6.89990827e-03],
       [1.93000000e+03, 1.12576100e+06, 1.09717600e+06, 6.95762680e-03],
       [1.93100000e+03, 1.06449700e+06, 1.03912700e+06, 6.57899222e-03],
       [1.93200000e+03, 1.06699400e+06, 1.04380800e+06, 6.59442462e-03],
       [1.93300000e+03, 1.00771000e+06, 9.91127000e+05, 6.22802718e-03],
       [1.93400000e+03, 1.04403900e+06, 1.03229100e+06, 6.45255407e-03],
       [1.93500000e+03, 1.04842800e+06, 1.04093000e+06, 6.47967975e-03],
       [1.93600000e+03, 1.04020200e+06, 1.03697400e+06, 6.42883997e-03],
       [1.93700000e+03, 1.06387200e+06, 1.06630900e+06, 6.57512948e-03],
       [1.93800000e+03, 1.10327700e+06, 1.10884100e+06, 6.81866722e-03],
       [1.93900000e+03, 1.09651800e+06, 1.10654400e+06, 6.77689405e-03],
       [1.94000000e+03, 1.14332500e+06, 1.15890000e+06, 7.06617893e-03],
       [1.94100000e+03, 1.20791900e+06, 1.22794100e+06, 7.46539417e-03],
       [1.94200000e+03, 1.35054500e+06, 1.38077400e+06, 8.34687655e-03],
       [1.94300000e+03, 1.39508200e+06, 1.42684600e+06, 8.62213197e-03],
       [1.94400000e+03, 1.32710400e+06, 1.36255500e+06, 8.20200234e-03],
       [1.94500000e+03, 1.30702800e+06, 1.34561000e+06, 8.07792510e-03],
       [1.94600000e+03, 1.57118400e+06, 1.62365000e+06, 9.71050863e-03],
       [1.94700000e+03, 1.77264400e+06, 1.82922300e+06, 1.09556073e-02],
       [1.94800000e+03, 1.69781400e+06, 1.75446900e+06, 1.04931297e-02],
       [1.94900000e+03, 1.71082500e+06, 1.77372500e+06, 1.05735426e-02],
       [1.95000000e+03, 1.71318000e+06, 1.79067300e+06, 1.05880974e-02],
       [1.95100000e+03, 1.80004200e+06, 1.88108000e+06, 1.11249372e-02],
       [1.95200000e+03, 1.85469800e+06, 1.94427700e+06, 1.14627319e-02],
       [1.95300000e+03, 1.88032600e+06, 1.96977700e+06, 1.16211226e-02],
       [1.95400000e+03, 1.94168200e+06, 2.03737400e+06, 1.20003258e-02],
       [1.95500000e+03, 1.95466400e+06, 2.05791800e+06, 1.20805594e-02],
       [1.95600000e+03, 2.00751200e+06, 2.11369400e+06, 1.24071799e-02],
       [1.95700000e+03, 2.04416000e+06, 2.15586600e+06, 1.26336784e-02],
       [1.95800000e+03, 2.01088400e+06, 2.12071200e+06, 1.24280202e-02],
       [1.95900000e+03, 2.02304400e+06, 2.13350900e+06, 1.25031735e-02],
       [1.96000000e+03, 2.02209300e+06, 2.13271700e+06, 1.24972960e-02],
       [1.96100000e+03, 2.01731600e+06, 2.12250200e+06, 1.24677723e-02],
       [1.96200000e+03, 1.96654800e+06, 2.06894500e+06, 1.21540070e-02],
       [1.96300000e+03, 1.92721700e+06, 2.03175500e+06, 1.19109266e-02],
       [1.96400000e+03, 1.89459400e+06, 1.99327000e+06, 1.17093042e-02],
       [1.96500000e+03, 1.76500100e+06, 1.86137800e+06, 1.09083707e-02],
       [1.96600000e+03, 1.69186800e+06, 1.78396400e+06, 1.04563812e-02],
       [1.96700000e+03, 1.65076400e+06, 1.74452700e+06, 1.02023430e-02],
       [1.96800000e+03, 1.64010300e+06, 1.73892800e+06, 1.01364540e-02],
       [1.96900000e+03, 1.68694700e+06, 1.78973200e+06, 1.04259676e-02],
       [1.97000000e+03, 1.74814700e+06, 1.85959400e+06, 1.08042066e-02],
       [1.97100000e+03, 1.66347500e+06, 1.76920100e+06, 1.02809018e-02],
       [1.97200000e+03, 1.52118500e+06, 1.62266600e+06, 9.40149599e-03],
       [1.97300000e+03, 1.45813900e+06, 1.55933800e+06, 9.01184797e-03],
       [1.97400000e+03, 1.46741300e+06, 1.57310500e+06, 9.06916478e-03],
       [1.97500000e+03, 1.45769900e+06, 1.56220700e+06, 9.00912861e-03],
       [1.97600000e+03, 1.46509600e+06, 1.56990400e+06, 9.05484485e-03],
       [1.97700000e+03, 1.53299700e+06, 1.64368400e+06, 9.47449860e-03],
       [1.97800000e+03, 1.53165800e+06, 1.64225000e+06, 9.46622307e-03],
       [1.97900000e+03, 1.60505100e+06, 1.72194700e+06, 9.91981944e-03],
       [1.98000000e+03, 1.65993300e+06, 1.78387600e+06, 1.02590109e-02],
       [1.98100000e+03, 1.66746500e+06, 1.79090700e+06, 1.03055615e-02],
       [1.98200000e+03, 1.69267800e+06, 1.81397000e+06, 1.04613873e-02],
       [1.98300000e+03, 1.67006100e+06, 1.79173200e+06, 1.03216057e-02],
       [1.98400000e+03, 1.68297300e+06, 1.80383000e+06, 1.04014067e-02],
       [1.98500000e+03, 1.72003600e+06, 1.84703200e+06, 1.06304700e-02],
       [1.98600000e+03, 1.71466400e+06, 1.84016400e+06, 1.05972690e-02],
       [1.98700000e+03, 1.73789100e+06, 1.86566200e+06, 1.07408207e-02],
       [1.98800000e+03, 1.77983900e+06, 1.91260200e+06, 1.10000751e-02],
       [1.98900000e+03, 1.84310500e+06, 1.99999900e+06, 1.13910828e-02],
       [1.99000000e+03, 1.89770900e+06, 2.05254300e+06, 1.17285561e-02],
       [1.99100000e+03, 1.87443400e+06, 2.01946300e+06, 1.15847078e-02],
       [1.99200000e+03, 1.84330400e+06, 1.99638800e+06, 1.13923127e-02],
       [1.99300000e+03, 1.80837900e+06, 1.96039700e+06, 1.11764630e-02],
       [1.99400000e+03, 1.78507400e+06, 1.93115700e+06, 1.10324294e-02],
       [1.99500000e+03, 1.75792700e+06, 1.90283200e+06, 1.08646507e-02],
       [1.99600000e+03, 1.75224900e+06, 1.89337800e+06, 1.08295585e-02],
       [1.99700000e+03, 1.73980600e+06, 1.88412200e+06, 1.07526561e-02],
       [1.99800000e+03, 1.76591500e+06, 1.91025000e+06, 1.09140195e-02],
       [1.99900000e+03, 1.77263200e+06, 1.91880900e+06, 1.09555331e-02],
       [2.00000000e+03, 1.81460100e+06, 1.96240600e+06, 1.12149173e-02],
       [2.00100000e+03, 1.79904900e+06, 1.94125100e+06, 1.11188001e-02],
       [2.00200000e+03, 1.79520600e+06, 1.93981500e+06, 1.10950489e-02],
       [2.00300000e+03, 1.82535900e+06, 1.97343400e+06, 1.12814058e-02],
       [2.00400000e+03, 1.83414500e+06, 1.98279400e+06, 1.13357066e-02],
       [2.00500000e+03, 1.84537900e+06, 1.99484100e+06, 1.14051370e-02],
       [2.00600000e+03, 1.89846300e+06, 2.05237700e+06, 1.17332161e-02],
       [2.00700000e+03, 1.91940800e+06, 2.07213900e+06, 1.18626640e-02],
       [2.00800000e+03, 1.88723400e+06, 2.03628900e+06, 1.16638166e-02],
       [2.00900000e+03, 1.83292500e+06, 1.97930300e+06, 1.13281666e-02],
       [2.01000000e+03, 1.77273800e+06, 1.91385100e+06, 1.09561882e-02],
       [2.01100000e+03, 1.75350000e+06, 1.89323000e+06, 1.08372901e-02]])

In [116]:
# 4번) 2000년도 이후데이터 에 대해  출생량 을 구하고 ,, 남아수가 1800000 이상이면 '많음'아니면 '적음' 이라고 출력하여라
np.hstack((birthArr[birthArr[:,0]>=2000], np.where(birthArr[birthArr[:,0]>=2000][:,1]>18000000, '많음', '적음').reshape(-1,1)))

array([['2000', '1814601', '1962406', '적음'],
       ['2001', '1799049', '1941251', '적음'],
       ['2002', '1795206', '1939815', '적음'],
       ['2003', '1825359', '1973434', '적음'],
       ['2004', '1834145', '1982794', '적음'],
       ['2005', '1845379', '1994841', '적음'],
       ['2006', '1898463', '2052377', '적음'],
       ['2007', '1919408', '2072139', '적음'],
       ['2008', '1887234', '2036289', '적음'],
       ['2009', '1832925', '1979303', '적음'],
       ['2010', '1772738', '1913851', '적음'],
       ['2011', '1753500', '1893230', '적음']], dtype='<U21')

In [117]:
#5번) 1800년대,1900년대,2000년대 각 남아,여야수 평균을 구하여라
#(1) 1800년대
print( "남아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 1800) & (birthArr[:,0]<1900)].mean(axis=0)[1] ))
print( "여아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 1800) & (birthArr[:,0]<1900)].mean(axis=0)[2] ))

남아 수 평균: 176714.15
여아 수 평균: 111820.55

In [118]:
print( "남아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 1900) & (birthArr[:,0]<2000)].mean(axis=0)[1] ))
print( "여아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 1900) & (birthArr[:,0]<2000)].mean(axis=0)[2] ))

남아 수 평균: 1362901.51
여아 수 평균: 1384145.55

In [119]:
print( "남아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 2000) & (birthArr[:,0]<2100)].mean(axis=0)[1] ))
print( "여아 수 평균: {0}".format(birthArr[(birthArr[:,0] >= 2000) & (birthArr[:,0]<2100)].mean(axis=0)[2] ))

남아 수 평균: 1831500.5833333333
여아 수 평균: 1978477.5